.download-container {
    position: relative; /* Ensure the avatar is positioned relative to this container */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .download-container img {
    width: 100%; /* Make the background image stretch across the container */
    height: auto;
    object-fit: cover; /* Ensure the image covers the container without distorting */
  }
  
  .download-avatar {
    position: absolute; /* Position the avatar inside the container */
    top: 50%; /* Center the avatar vertically */
    left: 15%; /* Center the avatar horizontally */
    transform: translate(-50%, -40%); /* Adjust to exactly center the avatar */
    overflow: hidden; /* Ensure no part of the avatar is outside the container */
  }
  
  .download-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the avatar image fits within the container */
  }