.download-container {
    width: 100%;
    min-height: 100vh; 
    background-size: cover;
    background-position: center center;  
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    margin-top: -170px;
  }
  
  .download-content {
    display: flex;
    flex-direction: column;
    align-items: center; // Căn các phần tử bên trong theo chiều ngang
    justify-content: center;
    text-align: center;  // Đảm bảo nội dung căn giữa
  }
  
  .download-avatar {
    width: 100px;  // Kích thước avatar có thể thay đổi
    height: auto;
    margin-top: 20px;  // Đảm bảo khoảng cách với các phần tử khác
  }
  
  .download-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
  }
  
  .download-btn {
    position: relative;
    width: 100%;
    
    img {
      width: 100%;
    }
  
    .btn-icon {
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  
  .download-images {
    margin-top: 20px;
    
    img {
      display: block;
      margin-bottom: 16px;
    }
  }
  