.download-container {
  position: relative; /* Ensure the avatar is positioned relative to this container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.download-container img {
  width: 100%; /* Make the background image stretch across the container */
  height: auto;
  object-fit: cover; /* Ensure the image covers the container without distorting */
}

.download-avatar {
  position: absolute; /* Position the avatar inside the container */
  top: 50%; /* Center the avatar vertically */
  left: 15%; /* Center the avatar horizontally */
  transform: translate(-40%, -40%); /* Adjust to exactly center the avatar */
  overflow: hidden; /* Ensure no part of the avatar is outside the container */
}

.download-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the avatar image fits within the container */
}

.download-guide {
  position: absolute; /* Đặt nó nằm trong download-container */
  transform: translate(80%, 2%);
  display: flex; /* Dùng flexbox để các hình nằm ngang */
  gap: 20px; /* Khoảng cách giữa các hình */
  align-items: center;

  img {
    width: 150px; /* Đặt kích thước cố định cho hình ảnh */
    height: auto;
    object-fit: contain;
  }
}

.download-method {
  position: absolute;
  transform: translate(-20%, 2%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .download-link {
    text-decoration: none;

    .download-btn {
      position: relative;
      display: flex;
      align-items: center;
      width: 230px;
      height: 70px;
      border: none;
      background: none;
      padding: 0;
      cursor: pointer;

      .btn-background {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .btn-icon {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px; 
        padding-left: 40px;

        .icon {
          width: 45px;
          height: auto;
          object-fit: contain;
        }

        .download-text {
          font-weight: 900;
          font-size: 1.7rem;
          color: #334c99;
        }
      }
    }
  }
}


.download-guide {
  position: absolute;
  left: 28%;
  transform: translateX(90%);
  display: flex;
  gap: 30px;  
  align-items: center;

  .Nap-the, .Gift-code {
    position: relative;
    width: 150px;
    text-align: center;

    span {
      position: absolute;
      align-items: center;
      top: 15px; 
      left: 52%;
      transform: translateX(-50%);
      font-size: 1.3rem;
      font-weight: 900;
      color: #334c99; 
      z-index: 2;
      text-align: center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    &.Nap-the span {
      color: orange;
    }
  }
}
