@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin : 0;
}
@font-face {
  font-family: 'gss_manghoang';
  src: url(./Fonts/gss_manghoang.ttf);
}

body {
  font-family: 'gss_manghoang', sans-serif;
  margin: 0;
  padding: 0;
}
